<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<% @monsters.each do |monster| %>
  <ul>
    <li><%= link_to(monster.name, "/monsters/#{monster.id}") %> Level.<%= monster.level %></li>
  </ul>
<% end %>

</body>
</html>