<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<% @monsters.each do |monster| %>
  <%= monster.name %>
  <%= monster.level %>
<% end %>

</body>
</html>