// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  font-size: 40px
}

.monsters_name {
  width: 300px
}

.monsters_level {
  width: 20px
}